# Tuples in python

# Creating a Tuple

In [1]:
my_tuple =(1, 2 ,3, 4 ,54 ,65)
print(my_tuple)

(1, 2, 3, 4, 54, 65)

# Mixed Datatype

In [4]:
my_tuple = (1 , "Naman" ,43 , "Pragya" , True , 4+5j)
print(my_tuple)

(1, 'Naman', 43, 'Pragya', True, (4+5j))

# Empty tuple

In [5]:
my_tuple =()
print(my_tuple)

()

# Nested tuples

In [8]:
a =("data" , [12, 32,342,43, 243, 23] ,"Naman" , "pragay" (1,21 ,32 ,32 ,432))
print(a)

<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\hp\AppData\Local\Temp\ipykernel_8880\447898259.py:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  a =("data" , [12, 32,342,43, 243, 23] ,"Naman" , "pragay" (1,21 ,32 ,32 ,432))

TypeError: 'str' object is not callable